<nav class="navbar navbar-expand-lg">
    <div class="border-bottom border-2 border-dark py-4 container-fluid">
        <div class="container d-flex align-items-center justify-content-between">
            <div class="d-flex"> <img src="./2023week6/logo.png" width="53px" height="53px" alt="">
                <a href="./index.html">
                <h1 class="ps-3 collapse navbar-collapse">7TAO<span
                        class="noto-serif fs-6 align-middle">活動訂票網</span></h1>                    
                </a>
                <input type="text" class="ms-5 search" placeholder="探索活動">
                <button type="button" class="btn btn-dark"><span
                        class="material-icons align-middle text-warning">search</span></button>
            </div>

            <div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <ul class="navbar-nav collapse navbar-collapse">
                    <li class="nav-item"><a href="#" class="yeseva "><span
                                class="material-icons">description</span>REGISTER</a></li>
                    <li class="nav-item"><a href="./login.html" class="yeseva ms-4"><span
                                class="material-icons">person</span>LOGIN</a></li>
                </ul>
            </div>
        </div>
    </div>
        <ul class="collapse" id="navbarNav">
            <li><a href="#" class="yeseva "><span class="material-icons">description</span>REGISTER</a></li>
            <li><a href="./login.html" class="yeseva"><span class="material-icons">person</span>LOGIN</a></li>
        </ul>
</nav>