<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>7TAO活動訂票網</title>
    <link rel="stylesheet" href="./all.scss">
    <link rel="stylesheet" href="./icofont/icofont.min.css">
</head>

<body class="bg-themebg">

    <%- include('./layout/navbar'); -%>


    <div class="container">
        <div class="row mt-6">
            <div class="col-12 banner d-flex flex-column justify-content-between">
                <h2 class="fs-60 text-white yeseva m-5">19 MAY 2023</h2>
                <div class="mb-4">
                    <h3 class="title-secondary noto-serif text-white text-center">隔牆有耳-沒有草東的派對</h3>
                    <p class="text-white text-center mt-3">你各位聽團仔們！每次想跟朋友一起聽草東專場卻每一次都搶不到票？「草東沒有派對」永遠都是「草東沒有門票」！<br>
                        帶上啤酒、野餐墊，讓我們在Live House外面一起開場「沒有草東的派對」吧！</p>
                </div>

            </div>
        </div>
        <div class="row mt-5 g-2">
            <div class="col-md-2 col-4">
                <a href="#">
                    <div class="border border-2 border-dark text-center py-6">
                        <img width="80px" src="./2023week6/cate01.svg" alt="">
                        <h3 class="noto-serif title-secondary mt-7">演出</h3>
                    </div>
                </a>
            </div>
            <div class="col-md-2 col-4 ">
                <a href="#">
                    <div class="border border-2 border-dark text-center py-6">
                        <img width="80px" src="./2023week6/cate02.svg" alt="">
                        <h3 class="noto-serif title-secondary mt-7">聯誼</h3>
                    </div>
                </a>
            </div>
            <div class="col-md-2 col-4 ">
                <a href="#">
                    <div class="border border-2 border-dark text-center py-6">
                        <img width="80px" src="./2023week6/cate03.svg" alt="">
                        <h3 class="noto-serif title-secondary mt-7">展覽</h3>
                    </div>
                </a>
            </div>
            <div class="col-md-2 col-4 ">
                <a href="#">
                    <div class="border border-2 border-dark text-center py-6">
                        <img width="80px" src="./2023week6/cate04.svg" alt="">
                        <h3 class="noto-serif title-secondary mt-7">美食</h3>
                    </div>
                </a>
            </div>
            <div class="col-md-2 col-4 ">
                <a href="#">
                    <div class="border border-2 border-dark text-center py-6">
                        <img width="80px" src="./2023week6/cate05.svg" alt="">
                        <h3 class="noto-serif title-secondary mt-7">戶外</h3>
                    </div>
                </a>
            </div>
            <div class="col-md-2 col-4">
                <a href="#">
                    <div class="border border-2 border-dark text-center py-6 bg-dark">
                        <h3 class="noto-serif text-warning fs-8 lh-60">探索<br>更多</h3>
                    </div>
                </a>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-12">
                <div class="border border-2 border-dark px-6 py-4 d-flex align-items-center justify-content-between">
                    <h2 class="fs-9 yeseva">RECENT</h2>
                    <h3 class="noto-serif fs-7">近期活動</h3>
                </div>
            </div>
        </div>

        <div class="row mt-5 g-4 recent">
            <div class="col-md-4 col-12">
                <div>
                    <h3 class="fs-8 yeseva">19 MAY 2023</h3>
                    <div class="border-top border-2 border-dark">
                        <img class="mt-7" width="100%" src="./2023week6/event/01.jpg" alt="">
                        <h4 class="title-secondary noto-serif mt-7">邪典電影派對——房間</h4>
                        <p class="mt-7">你有聽說過「大災難家」裡面的主角 Tommy Wiseau
                            製作的「史上最爛的電影」——房間嗎？在美國甚至演變成一種邪教、一種派對的形式，在電影播放的對著螢幕丟湯匙都...</p>
                    </div>
                    <div
                        class="border-top border-bottom border-1 border-dark d-flex justify-content-between ailgn-items-center py-7">
                        <a href="#">
                            <h5 class="noto-serif fs-6"><img class="align-text-top" width="24px"
                                    src="./2023week6/sparkler.png" alt="sparkler">社群活動</h5>
                        </a>

                        <a href="#" class="fs-6 actives">開賣中 <i class="icofont-rounded-double-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div>
                    <h3 class="fs-8 yeseva">23 MAY 2023</h3>
                    <div class="border-top border-2 border-dark">
                        <img class="mt-7" width="100%" src="./2023week6/event/02.jpg" alt="">
                        <h4 class="title-secondary noto-serif mt-7">怪舞俱樂部</h4>
                        <p class="mt-7">覺得自己的舞蹈細胞異於常人？每次隨著音樂起舞身邊的人總是露出無法理解的表情？來這裡就對了！來參加這場一起跳舞的聚會，也會在每一次的舞會中選出舞步最怪的...
                        </p>
                    </div>
                    <div
                        class="border-top border-bottom border-1 border-dark d-flex justify-content-between ailgn-items-center py-7">
                        <a href="#">
                            <h5 class="noto-serif fs-6"><img class="align-text-top" width="24px"
                                    src="./2023week6/sparkler.png" alt="sparkler">社群活動</h5>
                        </a>

                        <a href="#" class="fs-6 actives">檢視活動 <i class="icofont-rounded-double-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div>
                    <h3 class="fs-8 yeseva">30 MAY 2023</h3>
                    <div class="border-top border-2 border-dark">
                        <img class="mt-7" width="100%" src="./2023week6/event/03.jpg" alt="">
                        <h4 class="title-secondary noto-serif mt-7">哈利波特馬拉松</h4>
                        <p class="mt-7">每次身邊有人開啟哈利波特的話題，自己永遠都是聽不懂的那個麻瓜？看大家在討論魁地奇、用咒語鬥法的時候，自己永遠是陪笑的那個人？穿好你的法袍、帶上你的法杖...
                        </p>
                    </div>
                    <div
                        class="border-top border-bottom border-1 border-dark d-flex justify-content-between ailgn-items-center py-7">
                        <a href="#">
                            <h5 class="noto-serif fs-6"><img class="align-text-top" width="24px"
                                    src="./2023week6/sparkler.png" alt="sparkler">社群活動</h5>
                        </a>

                        <a href="#" class="fs-6 actives">開賣中 <i class="icofont-rounded-double-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div>
                    <h3 class="fs-8 yeseva">12 JUNE 2023</h3>
                    <div class="border-top border-2 border-dark">
                        <img class="mt-7" width="100%" src="./2023week6/event/04.jpg" alt="">
                        <h4 class="title-secondary noto-serif mt-7">皮卡丘排球大賽</h4>
                        <p class="mt-7">還記得小時候玩的小遊戲嗎？總是有朋友吹噓自己獨孤求敗、只求一敗？是時候該展現真正的實力了！本活動採用瑞士制賽程，以絕對公平的方式進行，是時候該證明自己...
                        </p>
                    </div>
                    <div
                        class="border-top border-bottom border-1 border-dark d-flex justify-content-between ailgn-items-center py-7">
                        <a href="#">
                            <h5 class="noto-serif fs-6"><img class="align-text-top" width="24px"
                                    src="./2023week6/sparkler.png" alt="sparkler">社群活動</h5>
                        </a>
                        <a href="#" class="fs-6 actives">開賣中 <i class="icofont-rounded-double-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div>
                    <h3 class="fs-8 yeseva">25 MAY 2023</h3>
                    <div class="border-top border-2 border-dark">
                        <img class="mt-7" width="100%" src="./2023week6/event/05.jpg" alt="">
                        <h4 class="title-secondary noto-serif mt-7">酒精路跑</h4>
                        <p class="mt-7">身邊總是有對自己酒量有高度自信的朋友嗎？拉著他/她一起來參加酒精路跑吧！一起拍下第一杯直到倒下為止的照片，一起喝遍市區內各家極具品味的酒吧。</p>
                    </div>
                    <div
                        class="border-top border-bottom border-1 border-dark d-flex justify-content-between ailgn-items-center py-7">
                        <a href="#">
                            <h5 class="noto-serif fs-6"><img class="align-text-top" width="24px"
                                    src="./2023week6/sparkler.png" alt="sparkler">社群活動</h5>
                        </a>
                        <a href="#" class="fs-6 actives">開賣中 <i class="icofont-rounded-double-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div>
                    <h3 class="fs-8 yeseva">9 JULY 2023</h3>
                    <div class="border-top border-2 border-dark">
                        <img class="mt-7" width="100%" src="./2023week6/event/06.jpg" alt="">
                        <h4 class="title-secondary noto-serif mt-7">展覽——我的房間</h4>
                        <p class="mt-7">每個人的房間總會有那麼一兩個能代表自己的物事，或許是再平凡不過的牙刷、馬克杯，或許有那些別人的房間從沒出現過的小東西——那些能定義自己的特別的東西。</p>
                    </div>
                    <div
                        class="border-top border-bottom border-1 border-dark d-flex justify-content-between ailgn-items-center py-7">
                        <a href="#">
                            <h5 class="noto-serif fs-6"><img class="align-text-top" width="24px"
                                    src="./2023week6/sparkler.png" alt="sparkler">社群活動</h5>
                        </a>
                        <a href="#" class="fs-6 actives">開賣中 <i class="icofont-rounded-double-right"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-60 ">
            <div class="col-12">
                <div class="border border-2 border-dark px-6 py-4 d-flex align-items-center justify-content-between">
                    <h2 class="fs-9 yeseva">ONLINE</h2>
                    <h3 class="noto-serif fs-7">線上活動</h3>
                </div>
            </div>
        </div>

        <div class="row mt-6 ailgn-items-center gy-7">
            <div class="col-lg-7 col-12">
                <img width="100%" src="./2023week6/event/online2.jpg" alt="">
            </div>
            <div class="col-lg-5 col-12">
                <h3 class="noto-serif fs-7">切特居批踢</h4>
                    <div class="mt-3">
                        <span class="tags me-2">競賽</span>
                        <span class="tags me-2">科技</span>
                        <span class="tags me-2">有趣</span>
                    </div>
                    <p class="mt-6">最近網路上很流行的AI程式 ChatGPT，可以用來聊天或是查詢、整理各種資料，不同的應用方式如雨後春筍般冒出來。<br>
                        這個活動讓大家把自己最有特色的使用方法提出來讓大家參考，也會投票出最有趣的用法。<br>
                        該讓其他人知道自己使用 ChatGPT 的姿勢才是最特別的那個了！</p>
                    <a class="d-block bg-dark text-white text-center py-2 mt-6 fs-20" href="#">查看活動詳情 <i class="icofont-rounded-double-right"></i></a>
            </div>
        </div>
    </div>

    <div class="swiper mt-60">
        <div class="swiper-wrapper">
            <div class="swiper-slide">活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS</div>
            <div class="swiper-slide">活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS</div>
            <div class="swiper-slide">活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS</div>
        </div>
    </div>

    <div class="container">
        <div class="row mt-6">
            <div class="col-12 col-md-3 ">
                <span class="tags2">社群活動</span>
                <div class="border border-2 border-dark p-3 w-auto">
                    <img width="100%" src="./2023week6/album/01.jpg" alt="">
                    <h4 class="fs-18 noto-serif mt-3 mb-5">無聲派對-閉閉嘴dancing</h4>
                </div>
            </div>
            <div class="col-12 col-md-3 d3">
                <span class="tags2">藝文活動</span>
                <div class="border border-2 border-dark p-3 w-auto rotate-2">
                    <img width="100%" src="./2023week6/album/02.jpg" alt="">
                    <h4 class="fs-18 noto-serif mt-3 mb-5">拯救老店大作戰</h4>
                </div>
            </div>
            <div class="col-12 col-md-3 d3">
                <span class="tags2">自我覺察</span>
                <div class="border border-2 border-dark p-3 w-auto rotate--2">
                    <img width="100%" src="./2023week6/album/03.jpg" alt="">
                    <h4 class="fs-18 noto-serif mt-3 mb-5">內觀修行-部落篇</h4>
                </div>
            </div>
            <div class="col-12 col-md-3 d3">
                <span class="tags2">聯誼活動</span>
                <div class="border border-2 border-dark p-3 w-auto rotate-2">
                    <img width="100%" src="./2023week6/album/04.jpg" alt="">
                    <h4 class="fs-18 noto-serif mt-3 mb-5">賞櫻野餐</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="swiper mt-60">
        <div class="swiper-wrapper">
            <div class="swiper-slide">活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS</div>
            <div class="swiper-slide">活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS</div>
            <div class="swiper-slide">活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS</div>
        </div>
    </div>

    <div class="container">
        <div class="row pt-60 g-0 gy-4">
            <div class="col-12 col-md-6 ">
                <div class="border border-2 border-dark">
                    <h3 class="noto-serif fs-7 py-3 px-6 border-bottom border-2 border-dark">#FOLLOW US</h3>
                    <div class="p-6">
                        <p class="mb-6">想第一時間獲得新奇有趣的活動資訊？<br>
                            追蹤我們的社群吧！<br>
                            也歡迎你聯繫我們，提供好玩有趣的活動企劃。
                        </p>
                        <ul class="icofont-ul">
                            <li class="mb-3"><i
                                    class="icofont-ui-email icofont-1x bg-dark text-white p-2 me-3"></i>7tao.event@gmail.com
                            </li>
                            <li class="mb-3"><i
                                    class="icofont-phone icofont-1x bg-dark text-white p-2 me-3"></i>09123123123</li>
                            <li><i class="icofont-facebook icofont-1x bg-dark text-white p-2 me-3"></i>7TAO七逃</li>
                        </ul>

                    </div>
                </div>


            </div>
            <div class="col-12 col-md-6 ">
                <div class="border border-2 border-dark">
                    <h3 class="noto-serif fs-7 py-3 px-6 border-bottom border-2 border-dark">#SUBSCRIBE US</h3>
                    <div class="p-6">
                        <p class="mb-6">訂閱電子報送折價券！<br>
                            定期精選文章資訊及最新優惠資訊，<br>
                            還不通通給我訂閱起來？
                        </p>
                        <input type="text" class="border-2 border-dark py-3 w-100 mb-26" placeholder="輸入Email">
                    </div>
                    <div class="bg-dark w-100 py-1 border border-2 border-dark text-center"><a href="#"
                            class="text-white fs-20 ">確認訂閱 <i class="icofont-rounded-double-right"></i></a></div>
                </div>


            </div>
        </div>
    </div>

    <div class="border border-2 border-end-0 border-start-0 border-dark mt-60">
        <div class="m-60">
            <h2 class="noto-serif fs-7 text-center">此刻打盹，你將做夢；此刻學習，你將圓夢</h2>
            <p class="text-center noto-serif fs-18 mt-3">——我也不知道誰說的</p>
        </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module">
        import { Collapse } from 'bootstrap'
    </script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script>
        const swiper = new Swiper('.swiper', {
            allowTouchMove: false,
            loop: true,
            slidesPerView: 'auto',
            speed: 10000,
            autoplay: {
                delay: 0
            }
        });
    </script>
</body>

</html>